{% extends "base.html" %}
{% block title %}Automatic Nanopore Aligner{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center"><a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='images/autoalign_path.svg') }}" width="40%"></a></div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center darkbg">
      <h2>Introduction</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>This tool is designed for people who are using targeted nanopore sequencing for the validation of short DNA constructs such as plasmids or PCR products</p>
      <p>You can upload your reference sequence and a fastq file of nanopore reads.  The reads will then be aligned to the reference using <a href="https://github.com/lh3/minimap2">Minimap2</a> in spliced alignment mode</a> and will return you the bam file of aligned reads.  You will also be given a direct link to the web version of the <a href="https://igv.org/">IGV viewer</a> where you can immediately see your aligned results.</p>
      <p>Data submitted to this site are not made available other than via the random URL generated when you submit your data.  All data are deleted from our systems one week after they were submitted.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center darkbg">
      <h2>Upload your data</h2>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-warning" role="alert">
      NEWS: You can now process up to 5 fastq files in a single run
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="start_alignment", method="POST", enctype="multipart/form-data">
            <label for="reference">Reference File (Fasta or Genbank format)</label>
            <input class="form-control" name="reference" type="file" id="reference">
            <div id="reference_error" class="invalid-feedback">Text</div>

            <label id="fqlabel1" for="fastq1">Sequencing File 1 (fastq.gz format)</label>
            <input class="form-control fastq" type="file" name="fastq1" id="fastq1">
            <div id="fastq_error1" class="invalid-feedback"></div>

            <label id="fqlabel2" for="fastq2" class="fqhidden">Sequencing File 2 (fastq.gz format)</label>
            <input class="form-control fqhidden fastq" type="file" name="fastq2" id="fastq2">
            <div id="fastq_error2" class="invalid-feedback fqhidden"></div>

            <label id="fqlabel3" for="fastq3" class="fqhidden">Sequencing File 3 (fastq.gz format)</label>
            <input class="form-control fqhidden fastq" type="file" name="fastq3" id="fastq3">
            <div id="fastq_error3" class="invalid-feedback fqhidden"></div>

            <label id="fqlabel4" for="fastq4" class="fqhidden">Sequencing File 4 (fastq.gz format)</label>
            <input class="form-control fqhidden fastq" type="file" name="fastq4" id="fastq4">
            <div id="fastq_error4" class="invalid-feedback fqhidden"></div>

            <label id="fqlabel5" for="fastq5" class="fqhidden">Sequencing File 5 (fastq.gz format)</label>
            <input class="form-control fqhidden fastq" type="file" name="fastq5" id="fastq5">
            <div id="fastq_error5" class="invalid-feedback fqhidden"></div>

            <button class="btn btn-primary btn-sm mt-2" id="moreseq">Add More Sequences</button>

            <div>
              <input class="form-check-input" type="checkbox" name="plannotate" id="plannotatecheck">
              <label id="plannotatelabel" class="form-check-label" for="plannotatecheck">Reannotate reference with <a href="https://github.com/mmcguffi/pLannotate">pLannotate</a></label>  
            </div>
            <button class="form-control btn btn-danger btn-lg mt-2" type="submit" id="align">Start Alignment</button>
        </form>
        </div>
  </div>
</div>
{% endblock %}