/* Custom CSS goes here */

label {
    font-size: 150%;
    padding-top: 1em;
}

#footer {
    margin-top:2em;
    color: grey;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#footer a {
    color: darkgray;
}

#align {
    margin-top: 2em !important;
}

.darkbg {
    background-color: #aa8800ff;
    color: white;
}

.filelink {
    color: black;
    text-decoration: none;
}

.filelink:hover{
    color: black;
    text-decoration: underline;
}

#igvbutton {
    padding: 1em;
}

h1,h2,h3 {
    font-family: 'Consolas','Courier New', Courier, monospace;
    margin-top: 0.2em;
}